
<main>
<section>
	<div id="topic" class="clearfix k-height-header pc ">
		<div class="container">

			<div class="wrap-content col-md-10 col-md-offset-1">
			
				<h1 class="title">Tìm kiếm chủ đề mà bạn quan tâm</h1>
				<ul>
					<li class="box"><a href="#">Tuyển sinh</a></li>
					<li class="box"><a href="/tu-van">Tư vấn</a></li>
					<li class="box"><a href="#">Tin Tức tổng hợp</a></li>
					<li class="box"><a href="/xem-diem">Xem điểm</a></li>
					<li class="box"><a href="#">Thông báo</a></li>
					<li class="box"><a href="#">Học tập</a></li>
					<li class="box"><a href="#">Cẩm nang</a></li>
					<li class="box"><a href="#">Dạy học</a></li>
					<li class="box"><a href="#">Giải trí</a></li>
					<li class="box"><a href="#">Site map</a></li>
				</ul>
				
			</div>
		</div>
	</div>
</section>
<section>
<div id="content-info">
		<font>
			<marquee id="marquee" behavior="alternate"><i>Chào mừng bạn đến Tuyển Sinh 24h</i></marquee>	
		</font> 
		<h2 class="title">Tin tức nổi bậc</h2>
	<div class="container" >
		
		
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/thaydoi.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/nhung-dieu-luu-y-ve-phuong-an-thi-THPT-quoc-gia-2017">Những điều lưu ý về phương án thi THPT quốc gia 2017  <img src="../Images/icon-hot.gif"> </a><br>
                    <span class="author pc">Theo Bộ GD&amp;ĐT, bài thi tổ hợp khác bài thi tổng hợp và tích hợp. Thí sinh không bắt buộc làm hết 3 môn ...</span><br>
          		
				</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/cong_bo.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/thi-thpt-quoc-gia-2017-cong-bo-phuong-an-chinh-thuc">Thi THPT quốc gia 2017: Công bố phương án chính thức   <img src="../Images/icon-hot.gif"></a><br>
                    <span class="author pc">Chiều 28/9, Bộ GD&ĐT họp báo công bố phương án thi THPT quốc gia 2017....</span><br>
          		
				</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
						<img src="../Images/maiphuong.jpg" style="height:143px; width: 100%;">
					</div>
					<div class="content-img">
						<a href="/cach-xu-ly-50-cau-tieng-anh-trac-nghiem-trong-60-phut">Cách xử lý 50 câu tiếng Anh trắc nghiệm trong 60 phút   <img src="../Images/icon-hot.gif"></a><br>
                   		 <span class="author pc">Theo cô giáo Vũ Mai Phương, đề thi trắc nghiệm tiếng Anh trong 60 phút đòi hỏi thí sinh làm bài nhanh..</span><br>
					</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/dh_yduoc.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/dh-su-pham-ha-noi-cong-bo-diem-trung-tuyen-xet-tuyen-bo-sung">ĐH Sư Phạm Hà Nội công bố điểm trúng tuyển xét tuyển bổ sung   <img src="../Images/icon-hot.gif"></a><br>
                    <span class="author pc">ĐH Sư phạm Hà Nội, ĐH Thương Mại, Học viện Báo chí và Tuyên truyền vừa công bố ... </span><br>
          		
				</div>
				</div>
			</div>
	
		
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/thpt.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/bo-giao-duc-ra-de-minh-hoa-truong-dai-hoc-van-hoang-mang">Bộ Giáo dục ra đề minh họa, trường đại học vẫn hoang mang   <img src="../Images/icon-hot.gif"></a><br>
                    <span class="author pc">Sau khi Bộ GD&amp;ĐT công bố đề thi minh họa THPT quốc gia 2017, nhiều trường đại học phải họp...</span><br>
          		
				</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/nang_luc.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/thi-trac-nghiem-de-cham-nhung-khong-danh-gia-dung-nang-luc">Thi trắc nghiệm dễ chấm nhưng không đánh giá đúng năng lực   <img src="../Images/icon-hot.gif"></a><br>
                    <span class="author pc">Theo ông Phạm Tất Thắng, thi trắc nghiệm dễ chấm, dễ lượng hóa nhưng lại không đánh giá...</span><br>
          		
				</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/trac_nghiem.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/hoc-sinh-do-xo-luyen-thi-trac-nghiem-mon-toan">Học sinh đổ xô luyện thi trắc nghiệm môn Toán   <img src="../Images/icon-hot.gif"></a><br>
                    <span class="author pc">Vì lo lắng hình thức thi mới của môn Toán, nhiều học sinh tìm đến các lớp luyện kỹ năng...</span><br>
          		
				</div>
				</div>
			</div>
			<div class="content-us col-xl-3 col-lg-4 col-md-6 col-xs-12">
				<div class="wrap-content-us">
					<div class="img-us">
					<img src="../Images/hoc_them.jpg" style="height:143px; width: 100%;">
				</div>
				<div class="content-img">
					<a href="/truong-dai-hoc-dua-nhau-mo-nganh-moi">Trường đại học đua nhau mở ngành mới</a><br>
                    <span class="author pc">Sau 3 năm được thực hiện thí điểm giao quyền tự chủ đại học, một số trường “tiện tay” mở thêm...</span><br>
          		
				</div>
				</div>
			</div>
			</div>
</div>
	
</section>
<section style=" background: rgba(0, 0, 0, 0.6);">
        <div id="k-about-us">
            
            	<div class="container">
               	 	<div class="col-lg-6 col-md-6 col-xs-12 k-about-us-why" style="background: white;">
		                    <h2 class="title">Tại sao nên chọn Tuyển Sinh 24h?</h2>
			                    <ul>
			                        <li>
			                   			 <span class="icon">
			                   				 <img src="../Images/hoc-cung-chuyen-gia.svg" style="width: 70px;" alt="Học cùng chuyên gia" 	class="img-fluid">
			                   			 </span>
			                    		 <span class="text">
			                    		 	<span>Học cùng chuyên gia: </span>
			                    			Tương tác với chuyên gia, nhận sự trợ giúp từ chuyên gia.
			                    		 </span>
			                        </li>
			                        <li>
			                  			  <span class="icon">
			                  				  <img src="../Images/hoc-mai-mai.svg" style="width: 70px;" alt="Thanh toán một lần" class="img-fluid">
			                   			 </span>
			                   			 <span class="text">
			                  			 	 <span>Thông tin chích xác: </span>
			                   				 Thông tin chính xác được lấy từ thông tin các tờ báo uy tín, khảo xác thực tế.
			                   			 </span>
			                        </li>
			                        <li>
			                  			  <span class="icon">
			                   					 <img src="../Images/hoc-moi-noi.svg" style="width: 70px;" alt="Mọi lúc mọi nơi" class="img-fluid">
			                   			 </span>
			                   			 <span class="text">
			                   				 <span>Mọi lúc mọi nơi: </span>
			                   				 Kết nối mọi lúc mọi nơi qua điện thoại, máy tính, ipad có kết nối Internet.
			                   			 </span>
			                        </li>
			                        <li>
			                  			  <span class="icon">
			                   					 <img src="../Images/hoan-tien.svg" style="width:70px;" alt="Cam kết hoàn tiền" class="img-fluid">
			                  			  </span>
			                  			  <span class="text">
			                   				 <span>Thông tin cập nhật liên tục: </span>
			                  				 Thông tin liên quan đến vấn đề tuyển sinh được trang web cập nhật liên tục.
			                  			  </span>
			                        </li>
			                    </ul>
		            </div>
		            <div class="col-lg-6 col-md-6 col-xs-12 k-about-us-why-right">
		            	<h2 style="text-align: center;">Học viên nói gì về chúng tôi</h2>
		            	<img src="../Images/feedback.jpg" style="width: 150px; height: 150px; border-radius: 50%; float: left; margin-right: 50px;">
		            		<br>
		            		<p> Anh: Nguyễn Phan Quốc Thắng
		            		</p><br>
		            		<p>
		            			Học sinh trung học phổ thông.
		            		</p>
		            			
		            		<p id="feedback-title">
		            			Thắng biết đến web tuyển sinh thông qua tiềm kiếm trên internet.Trang web làm Thắng bất ngờ vô cùng khi một trang web cung cấp khá đầy đủ thông tin về vấn đề tuyển sinh các quy tắc và các chỉ tiêu của các trường đại học cao đằng trên cả nước.Trang web có giao diện đẹp mắt dễ sử dụng cho người mới. Thắng đã đăng ký thành viên của trang web và cùng các bạn khác trao đổi về việc học tập rất bổ ích.Cảm ơn trang web đã cung cấp các thông tin bổ ích cho học sinh như tụi mình.
		            		</p>
		            </div>
                </div>
                <!--end .col-md-6 col-xs-12 left-->
             
            </div>
            <!--end .container-->
        </div>
        <!--end #wrap-content-bottom-->
</section>
<section>
	<div class="index-page">
	<section>
		<div class="study">
			<div class="container">
				<h2>THAM GIA HỌC TẬP VÀ TRA CỨU THÔNG TIN TẠI TUYỂN SINH 24H</h2>
				<img  name="myimage" src="./Images/study.png">
			</div>
		</div>
	</section>
</div>
</section>


</main>