<div class="container">
<div id="contact-me">
      <h3 id="contact-title" >CẢM ƠN BẠN ĐÃ THEO DÕI</h3>
    <form  style="background:cadetblue;" name="f1" class="well form-horizontal" action=" " method="post"  id="contact_form">


<!-- Form Name -->
<legend>Liên hệ ngay hôm nay!</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Họ</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
  <input id="ho" name="ho" placeholder="Nhập họ" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Tên</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user"></i></span>
  <input id="ten" name="ten" placeholder="Nhập tên" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- radio checks -->


<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  <input name="email" placeholder="Địa chỉ email" class="form-control"  type="text" id="email">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Số điện thoại</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
  <input id="phone" name="phone" placeholder="Nhập số điện thoại" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Địa chỉ</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
  <input id="diachi" name="diachi" placeholder="Nhập địa chỉ" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
 

<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Message</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
            <textarea id="comment" cols="45" rows="5" class="form-control" name="comment" placeholder="Message..."></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-success" >Send <span></span></button>
  </div>
</div>


</form>
</div>
</div>
</div><!-- /.container -->