
<main>
    <div class="container">
       <section class="form-sign">
          <div class="k-listing-category">
                    <h3>Tìm theo danh mục</h3>
                <ul class="k-category-list pd0">
                            <li class="danh-sach-khoa-hoc">
                    <a href="/danh-sach-khoa-hoc">
                        Tất cả khóa học
                    </a>                    
                </li>
                <li class="khuyen-mai-nhom-khoa-hoc">
                    <a href="/khuyen-mai/nhom-khoa-hoc">
                        Khóa học Combo
                    </a>                    
                </li>              
                                                            <li class="kinh-doanh">
                        <a href="/danh-sach-khoa-hoc/kinh-doanh">
                            Kinh doanh                        </a>
                                                    <span class="float-right"><i class="icon-arrow-right"></i></span>
                                            </li>
                                    <li class="marketing-truyen-thong">
                        <a href="/danh-sach-khoa-hoc/marketing-truyen-thong">
                            Marketing - Truyền thông                        </a>
                                                    <span class="float-right"><i class="icon-arrow-right"></i></span>
                                            </li>
                                    <li class="ky-nang-cho-cong-viec">
                        <a href="/danh-sach-khoa-hoc/ky-nang-cho-cong-viec">
                            Kỹ năng cho công việc                        </a>
                                                    <span class="float-right"><i class="icon-arrow-right"></i></span>
                                            </li>
                                    <li class="ngoai-ngu">
                        <a href="/danh-sach-khoa-hoc/ngoai-ngu">
                            Ngoại ngữ                        </a>
                                                    <span class="float-right"><i class="icon-arrow-right"></i></span>
                                            </li>
                                    <li class="thiet-ke-do-hoa-va-video">
                        <a href="/danh-sach-khoa-hoc/thiet-ke-do-hoa-va-video">
                            Thiết kế, đồ họa và video                        </a>
                                            </li>
                                    <li class="it-va-lap-trinh">
                        <a href="/danh-sach-khoa-hoc/it-va-lap-trinh">
                            IT và lập trình                        </a>
                                            </li>
                                    <li class="nuoi-day-con">
                        <a href="/danh-sach-khoa-hoc/nuoi-day-con">
                            Nuôi dạy con                        </a>
                                                    <span class="float-right"><i class="icon-arrow-right"></i></span>
                                            </li>
                                    <li class="phu-nu-va-gia-dinh">
                        <a href="/danh-sach-khoa-hoc/phu-nu-va-gia-dinh">
                            Phụ nữ và gia đình                        </a>
                                            </li>
                                    <li class="phat-trien-ca-nhan">
                        <a href="/danh-sach-khoa-hoc/phat-trien-ca-nhan">
                            Phát triển cá nhân                        </a>
                                            </li>
                                    <li class="nghe-thuat-va-doi-song">
                        <a href="/danh-sach-khoa-hoc/nghe-thuat-va-doi-song">
                            Nghệ thuật và Đời sống                        </a>
                                            </li>
                                    <li class="luyen-thi">
                        <a href="/danh-sach-khoa-hoc/luyen-thi">
                            Luyện thi                        </a>
                                            </li>
                                    <li class="vi-tinh-van-phong">
                        <a href="/danh-sach-khoa-hoc/vi-tinh-van-phong">
                            Vi tính văn phòng                        </a>
                                            </li>
                                    <li class="ke-toan-tai-chinh-dau-tu">
                        <a href="/danh-sach-khoa-hoc/ke-toan-tai-chinh-dau-tu">
                            Kế toán - tài chính - đầu tư                        </a>
                                            </li>
                 
                                </ul>
     </div><!--end k-category-->
</section>
<section class="form-sign">
    
<div class="formdk">
<form>
       <div class="form-group">
    <label for="exampleInputEmail1">Tài khoản: <label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập tài khoản">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Nhập lại Email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập lại Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mật khẩu:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nhập lại mật khẩu:</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Nhập lại Password">
  </div>
 
  

  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
</div>
</section>
    </div>
</main>
    
