<section class="section-wrap" style="margin-top: 60px;">
	<div class="thongtin-wrap" style="position: relative;">
					<div class="quangcao" style="width: 275px; height: 800px; position: absolute; top: 20px; left: 0px;">
						<img src="../Images/quangcao1.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 10px;" >
						<img src="../Images/quangcao3.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 1070px;" >
					</div>
	<div class="container infomation-content">
		<div class="infomation-content-us">
			<h1 class="the-article-title cms-title">Trường đại học đua nhau mở ngành mới</h1>
			<p class="the-article-summary cms-desc">
				Sau 3 năm được thực hiện thí điểm giao quyền tự chủ đại học, một số trường “tiện tay” mở thêm loạt ngành mới mà không cần phải thông qua sự phê chuẩn của Bộ GD&amp;ĐT.
				</p>
				<div class="the-article-body cms-body">
						<p>Nghị quyết 77 của Chính phủ về giao thí điểm đổi mới cơ chế hoạt động đối với các cơ sở giáo dục đại học (ĐH)&nbsp; công lập giai đoạn 2014-2017 đến nay đã có 14 trường thực hiện (gọi tắt là thí điểm giao quyền tự chủ).</p>
						<p>Quy định của Nghị quyết 77 cho phép các trường thực hiện thí điểm quyết định mở ngành, chuyên ngành đào tạo theo nhu cầu xã hội khi đáp ứng đủ điều kiện theo quy định của pháp luật. Chính vì vậy, các trường được giao quyền thí điểm tự chủ có quyền mở ngành mà không cần phải thông qua Bộ GD&amp;ĐT như trước đây. Sau 3 năm triển khai, số lượng các ngành của một số trường được thí điểm tăng lên một cách&nbsp;đáng kể.</p>

						<p>Tăng lên đột ngột nhất là ĐH Công nghiệp TPHCM, từ con số 16 ngành đào tạo ĐH năm 2014, đến năm 2016 trường này đã có 32 ngành. Số ngành đào tạo thạc sĩ cũng được cộng thêm 6 ngành. </p>
						<p>ĐH Tôn Đức Thắng (2 chuyên ngành tiến sĩ, 4 chuyên ngành thạc sĩ, 3 ngành ĐH), ĐH Kinh tế TP.HCM (5 ngành ĐH, 3 ngành thạc sĩ, 1 ngành tiến sĩ); ĐH Tài chính Marketting cũng có thêm một ngành mới là Quản trị khách sạn.</p>
						<table class="picture" align="center">
						<tbody>
						<tr>
						<td ><img class="pic" alt="Truong dai hoc dua nhau mo nganh moi hinh anh 1" title="Trường đại học đua nhau mở ngành mới hình ảnh 1" src="../Images/mo_truong.jpg" width="440" height="247"></td>
						</tr>
						<tr>
						<td class="pCaption caption">ĐH Kinh tế Quốc dân mở thêm 6 ngành mới. Ảnh: <em>Như Ý/Tiền Phong.</em></td>
						</tr>
						</tbody>
						</table>
						<p>Ở khu vực phía Bắc, ĐH Kinh tế Quốc dân mở thêm 6 ngành ĐH và 1 ngành thạc sĩ, Học viện Nông nghiệp Việt Nam cũng mở thêm 10 chuyên ngành đào tạo ĐH.&nbsp;</p>
						<p>Để được mở ngành, các trường ĐH (chưa được giao quyền tự chủ) đều phải qua một hàng rào kiểm duyệt khắt khe là Bộ GD&amp;ĐT (riêng với khối ngành y dược còn phải đáp ứng cả yêu cầu của Bộ Y tế).&nbsp; </p>
						<p>Theo lý giải của lãnh đạo Bộ GD&amp;ĐT, hiện nay, có sự mất cân đối nghiêm trọng giữa các ngành nghề đào tạo. Bộ cũng đã có những cảnh báo như thừa nhân lực ngành kinh tế, ngành sư phạm; Bộ Y tế cũng cảnh báo thừa nhân lực ngành điều dưỡng... </p>
						<p>Để mở ngành đào tạo mới, trường ĐH phải xây dựng chương trình ngành muốn mở, lập hồ sơ mở ngành để hội đồng khoa học nhà trường thông qua; rồi sở GD&amp;ĐT kiểm tra điều kiện thực tế về cơ sở vật chất, giảng viên, sau đó thông qua một hội đồng chuyên môn thẩm định..., kế tiếp mới chuyển toàn bộ hồ sơ lên Bộ GD&amp;ĐT, chờ kiểm tra, quyết định. Do có quá nhiều khâu như thế nên có&nbsp; trường phải mất một thời gian khá dài và tốn rất nhiều công đi lại từ sở đến Bộ mới xong được ngành mới.</p>
						<p>Khi các trường được giao quyền tự chủ thí điểm thì việc mở ngành được thực hiện như trường ĐH quốc gia hiện nay, tức là không chịu sự kiểm soát của Bộ GD&amp;ĐT. Chính vì vậy mới có chuyện sau 2 năm tự chủ, trường có thêm 22 ngành mới.</p>
						<p>Lãnh đạo một vụ chức năng của Bộ GD&amp;ĐT cho hay, sau khi thí điểm giao quyền tự chủ, ngay cả các quy định hiện hành của Bộ GD&amp;ĐT như muốn mở ngành các trường phải có ít nhất 5 giảng viên cơ hữu có bằng tiến sĩ, trong đó có ít nhất 1 giáo sư hoặc phó giáo sư hoặc tiến sĩ khoa học phù hợp ngành đăng ký mở ngành đào tạo trình độ ĐH, các trường tự cũng đang muốn xóa bỏ!&nbsp; </p>
						<p>“Các trường còn muốn khi tính mở ngành, giảng viên khoa nọ được tính vào dạy khoa kia. Rồi xác định chỉ tiêu tuyển sinh, họ cũng muốn tính gộp luôn cả giảng viên thỉnh giảng. Một người đứng cả 'mấy chân' thế thì kiểm soát chất lượng thế nào?”, vị này cho biết thêm.</p>
						<p>Nhiều chuyên gia cho rằng giao quyền phải gắn với yêu cầu kiểm soát. Để xảy ra tình trạng “chạy đua” mở ngành mới như vừa qua, một phần nguyên nhân từ việc kiểm soát còn hạn chế.</p>

						</div>
		</div>
	</div>
	</div>
</section>