<section class="section-wrap" style="margin-top: 60px;">
	<div class="thongtin-wrap" style="position: relative;">
					<div class="quangcao" style="width: 275px; height: 800px; position: absolute; top: 20px; left: 0px;">
						<img src="../Images/quangcao1.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 10px;" >
						<img src="../Images/quangcao3.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 1070px;" >
					</div>
	<div class="container infomation-content">
		<div class="infomation-content-us">
		<h1 class="the-article-title cms-title">ĐH Sư Phạm Hà Nội công bố điểm trúng tuyển xét tuyển bổ sung</h1>
		<p class="the-article-summary cms-desc">
		ĐH Sư phạm Hà Nội, ĐH Thương Mại, Học viện Báo chí và Tuyên truyền vừa công bố điểm trúng tuyển xét tuyển bổ sung đợt 1 năm 2016.
		</p>
		<div class="the-article-body cms-body">
				<p>Điểm chuẩn xét tuyển bổ sung đợt 1 của<strong> ĐH Sư phạm Hà Nội, ĐH Thăng Long, Học viện Báo chí và Tuyên truyền</strong> cụ thể như sau:</p>
				<h3>ĐH Sư phạm Hà Nội</h3>
				
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 1" src="../Images/diemthi_1.png" width="708" height="629">
				</td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 2" src="../Images/diemthi_2.png" width="713" height="663"></td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 3" src="../Images/diemthi_3.png" width="713" height="663"></td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<h3>Học viện Báo chí và Tuyên truyền</h3>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 5" src="../Images/diemthi_4.png" width="602" height="590"></td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 6" src="../Images/diemthi_5.png" width="602" height="615"></td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 7" src="../Images/diemthi_6.png" width="503" height="596"></td>
				</tr>
				<tr>
				<td class="pCaption caption"></td>
				</tr>
				</tbody>
				</table>
				<h3>Đại học Thăng Long</h3>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 8" src="../Images/diemthi_8.png" width="814" height="612"></td>
				</tr>
				<tr>
				<td class="pCaption caption">&nbsp;</td>
				</tr>
				</tbody>
				</table>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="DH Su Pham Ha Noi cong bo diem trung tuyen xet tuyen bo sung hinh anh 9" title="ĐH Sư Phạm Hà Nội công bố điểm trúng tuyển xét tuyển bổ sung hình ảnh 9" src="../Images/diemthi_9.png" width="811" height="430"></td>
				</tr>
				<tr>
				<td class="pCaption caption">&nbsp;</td>
				</tr>
				</tbody>
				</table>
	
				<p>Trước đó, các trường đại học thành viên của ĐH Quốc gia Hà Nội đồng loạt công bố điểm ngưỡng tuyển đợt xét tuyển bổ sung đại học 2016.</p>
				<p>Từ tối 31/8, các trường đại học trên cả nước lần lượt công bố điểm chuẩn xét tuyển bổ sung đợt 1. Cụ thể là các trường ĐH Văn Lang, ĐH Bách khoa Hà Nội, ĐH Công nghiệp TP HCM, ĐH Thương Mại.</p>


		</div>
	</div>
	</div>
</section>