<section class="section-wrap" style="margin-top: 60px;">
	<div class="thongtin-wrap" style="position: relative;">
					<div class="quangcao" style="width: 275px; height: 800px; position: absolute; top: 20px; left: 0px;">
						<img src="../Images/quangcao1.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 10px;" >
						<img src="../Images/quangcao3.gif" style="width: 260px; height: 500px;position:fixed; top: 80px;left: 1070px;" >
					</div>
	<div class="container infomation-content">
		<div class="infomation-content-us">
		<h1 class="the-article-title cms-title">Cách xử lý 50 câu tiếng Anh trắc nghiệm trong 60 phút</h1>
		<p class="the-article-summary cms-desc title-topic">
				Theo cô giáo Vũ Mai Phương, đề thi trắc nghiệm tiếng Anh trong 60 phút đòi hỏi thí sinh làm bài nhanh, khả năng tập trung cao độ và kỹ năng xử lý câu hỏi tốt.
			</p>
		<div class="the-article-body cms-body">
				<p>Thông thường, các bài thi trắc nghiệm tiếng Anh quy định thời gian trung bình khoảng một phút cho mỗi câu hỏi. Theo thông tin ban đầu của dự thảo thi THPT quốc gia 2017, môn tiếng Anh gồm 40 câu hỏi, thí sinh làm bài trong 60 phút. Như vậy, thí sinh có 1,5 phút cho mỗi câu trả lời. </p>
				<p>Tuy nhiên, trong phương án thi chính thức, số câu hỏi tăng lên 50 cho mỗi đề, thời gian làm bài không thay đổi. Điều này khiến nhiều học sinh lo lắng.&nbsp;</p>
				<p>60 phút cho một bài thi quá ngắn. Nếu không thích nghi kịp, thí sinh bắt đầu quen với đề thi có thể đã hết giờ. </p>
				<p>Một bài thi có hai mục đích là xét tốt nghiệp và tuyển sinh đại học, thí sinh cần đảm bảo tốc độ làm bài nhanh, khả năng tập trung cao độ và kỹ năng xử lý câu hỏi toàn diện. </p>
				<table class="picture" align="center">
				<tbody>
				<tr>
				<td ><img class="pic" alt="Cach xu ly 50 cau tieng Anh trac nghiem trong 60 phut hinh anh 1" src="../Images/maiphuong.jpg" width="653" height="462"></td>
				</tr>
				<tr>
				<td class="pCaption caption">Cô giáo Mai Phương thu hút gần 200.000 lượt theo dõi trên Facebook. <em>Ảnh: NVCC.</em></td>
				</tr>
				</tbody>
				</table>
				<p>Tôi thất vọng với phương án thi môn tiếng Anh năm 2017 khi bỏ hẳn phần tự luận. Những năm trước, học sinh và giáo viên rất hào hứng với phần thi này. Việc có bài luận trong đề cũng giúp học sinh tăng cường khả năng tư duy ngôn ngữ và trau dồi kỹ năng viết. &nbsp;</p>
				<p>Nhiều khả năng bài thi tự luận năm tới sẽ phân hóa bài luận thành câu hỏi như trong đề thi Đánh giá năng lực của ĐH Quốc gia Hà Nội. Học sinh vẫn phải học phần này để có thể làm được bài, nhưng cũng không cần đầu tư quá nhiều thời gian.</p>
				<p>Điều quyết định thành công trong bài thi trắc nghiệm 50 câu chính là sự chuẩn bị kỹ lưỡng khi ôn tập và thi thử. Các em có lượng kiến thức chắc chắn nhưng không luyện tập, sẽ rất khó đạt điểm cao. Ngoài ra, kỹ năng quản lý thời gian và phương pháp loại trừ đáp án cũng rất quan trọng.&nbsp;</p>
				<p>Theo thông tin chung của phương án thi 2017, kiến thức bao gồm chương trình lớp 12. Tuy nhiên, với riêng môn tiếng Anh, kiến thức bao quát và liên tục từ năm lớp 6 trở đi, vì vậy học sinh không thể chủ quan để "mất gốc".</p>
				<p>Chương trình lớp 12, các em cần rèn luyện kỹ năng trong các phần như: Ngữ âm trọng âm, từ vựng theo chủ điểm trong SGK, rèn kỹ năng đọc hiểu, hoàn thành đoạn văn và luận dạng trắc nghiệm.</p>
				<p>Chỉ còn 8 tháng nữa là bước vào kỳ thi THPT quốc gia 2017. Học sinh cần hoàn thiện ngữ pháp và từ vựng trước tháng 12, sau đó chuyển sang luyện từ vựng nâng cao và kỹ năng làm bài. </p>
				<p>Khoảng từ tháng 3, các em luyện giải đề và dần ôn tập bổ sung những kiến thức thiếu hụt. Nhiều học sinh đã luyện đề từ tháng 8/2016, trong khi kiến thức rèn kỹ năng chưa hoàn thiện, dẫn đến sau này phải vừa học, vừa bổ sung.</p>
				<p>Các em cũng nên tìm mua sách rèn luyện kỹ năng và thi thử với các nguồn đề uy tín.&nbsp;</p>
				<p>Chưa có thông tin chính thức nhưng có thể năm nay nhiều trường đại học, đặc biệt khối chuyên ngữ, sẽ có bài thi riêng để lựa chọn thí sinh giỏi. Vì vậy, học sinh theo đuổi ngành ngoại ngữ nên bám sát thông tin để chuẩn bị tốt cho kỳ thi.</p>
				<p>Chiến lược ôn tập dành cho các em nằm trong mấy chữ "dĩ bất biến ứng vạn biến", lấy cái không thay đổi để chế ngự sự thay đổi biến hóa khôn lường.</p>
				<p>Bản chất của một kỳ thi là đánh giá năng lực của học sinh. Vì vậy, với kỳ thi THPT quốc gia, dù có đổi mới theo hình thức nào, mục tiêu cuối cùng vẫn là đánh giá sự tích lũy kiến thức. </p>
				<p>Học sinh cần nắm chắc toàn bộ nội dung được học và có phương pháp ôn luyện để làm quen dạng đề mới là có thể tự tin chinh phục kỳ thi.&nbsp;</p>

	</div>
	</div>
	</div>
</section>
