<section class="section-wrap" style="margin-top: 60px;">
	<div class="thongtin-wrap">
	<div class="container infomation-content">
		<div class="infomation-content-us">
		<h3 style="color:  #0098D3; font-weight: bold; font-size: 100%;  border-bottom: 1px solid #DADADA;">Mới nhất</h3>
			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/thaydoi.jpg" width="150">
					</a>
					<h4><a href="/nhung-dieu-luu-y-ve-phuong-an-thi-THPT-quoc-gia-2017">Những điều lưu ý về phương án thi THPT quốc gia 2017   <img src="../Images/icon-hot.gif"></a></h4>
					<p>
							Theo Bộ GD&amp;ĐT, bài thi tổ hợp khác bài thi tổng hợp và tích hợp. Thí sinh không bắt buộc làm hết 3 môn trong bài thi tổ hợp, điểm liệt cho từng môn là 1 điểm...
					</p>
			
			
				</div>
			</div>

			<div class="listz-news">
				<div class="content-box">
					<a href="/huong-dan-dien-phieu-dang-ky-xet-tuyen-DH-CD-2016">
					<img class="s-border fl left" src="../Images/dienphieu.jpg" width="150">
					</a>
					<h4><a href="/huong-dan-dien-phieu-dang-ky-xet-tuyen-DH-CD-2016">Hướng dẫn điền phiếu đăng ký xét tuyển ĐH, CĐ 2016   <img src="../Images/icon-hot.gif"></a></h4>
					<p>
						Để đăng ký xét tuyển vào các trường ĐH, CĐ 2016, thí sinh phải điền vào phiếu đăng ký xét tuyển các thông tin cá nhân của mình một cách chính xác...
					</p>
			
			
				</div>
			</div>

			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/hoc_them.jpg" width="150">
					</a>
					<h4><a href="#">Hướng dẫn thí sinh điền phiếu đăng ký xét tuyển theo nhóm trường</a></h4>
					<p>
							Sau đây là hướng dẫn chi tiết điền phiếu đăng ký xét tuyển theo nhóm trường, thí sinh cần lưu ý những điểm khác so với mẫu phiếu của Bộ GD&ĐT...
					</p>
			
			
				</div>
			</div>

			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/cong_bo	.jpg" width="150">
					</a>
					<h4><a href="#">Cách tính điểm tốt nghiệp và phúc khảo bài thi 2016</a></h4>
					<p>
							Những thí sinh đủ điều kiện dự thi, không bị kỷ luật từ mức hủy bài thi trở lên, tất cả các bài thi đều đạt trên 1,0 điểm và có điểm xét tốt nghiệp từ 5,0 trở lên được công nhận tốt nghiệp...
					</p>
			
			
				</div>
			</div>

			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/congan.jpg" width="150">
					</a>
					<h4><a href="#">KLưu ý gì khi dự tuyển các trường Công an nhân dân?</a></h4>
					<p>
							Thời gian tiếp nhận thí sinh đến đăng ký sơ tuyển từ nay tới hết ngày 15-4-2016 tại Công an quận, huyện...
					</p>
			
			
				</div>
			</div>


			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/nhaphoc.jpg" width="150">
					</a>
					<h4><a href="#">Hồ sơ nhập học tân sinh viên cần chuẩn bị gì?</a></h4>
					<p>
						Từ ngày 31/8/2015, nhiều trường ĐH bắt đầu nhận hồ sơ, làm thủ tục nhập học cho các thí sinh trúng tuyển nguyện vọng 1. Tuy nhiên, nhiều thí sinh vẫn chưa nắm rõ được các giấy tờ cần thiết chuẩn bị cho hồ sơ nhập học.
					</p>
				</div>
			</div>


			<div class="listz-news">
				<div class="content-box">
					<a href="#">
					<img class="s-border fl left" src="../Images/ruthoso.jpg" width="150">
					</a>
					<h4><a href="#">ĐH-CĐ 2015: Hướng dẫn cách rút hồ sơ</a></h4>
					<p>
							Trong thời hạn quy định của mỗi đợt xét tuyển, thí sinh nộp hồ sơ ĐKXT và phí ĐKXT qua đường bưu điện theo hình thức chuyển phát nhanh, chuyển phát ưu tiên hoặc nộp trực tiếp tại trường.
					</p>
				</div>
			</div>
				
					<a style="text-align: center; display: inherit;" href="">Xem thêm</a>	
				
		</div>
	</div>
	</div>
</section>