
<section class="section-wrap" style="margin-top: 60px;">
    <div class="thongtin-wrap">
    <div class="container infomation-content" >
        <div class="infomation-content-us" style="width: 100%;">
            <h3 style="text-align: center;color:  #0098D3; font-weight: bold;">Chi Tiết Điểm Thi</h3>
                <div class="content-main" style="min-height: 40px;">
                    <form id="SearchTSForm" method="post">
                        <div class="form-reg">
                            
                            <ul class="q-list" style="padding-bottom: 60px;">
                                <li><h3 style="text-transform:uppercase;font-weight:bold;text-align:center;">HỘI ĐỒNG THI ĐẠI HỌC CÔNG NGHIỆP THÀNH PHỐ HỒ CHÍ MINH</h3></li>
                                <li><h2 style="text-align:center;">TRA CỨU ĐIỂM THI THPT QUỐC GIA 2016</h2></li>
                                   
                                    <li class="li-reg"><label>Số báo danh:</label> DH0201</li>

                                    <li class="li-reg">
                                        <label>Họ Tên:</label>
                                        Nguyễn Phan Quốc Thắng

                                    </li >
                                     <li class="li-reg">
                                        <label>Điểm các môn:</label>  
                                        Toán: 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vật Lý: 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hóa Học: 9
                                    </li >
                                     <li class="li-reg">
                                        <label>Tổng điểm: </label>  
                                            26
                                    </li >
                                  

                            </ul>
                            <ol start="1" style="padding-left:10px;">
                                Xem thêm danh sách thí sinh tại đây:
                                <a href="/xem-danh-sach-thi-sinh" class="btn btn-primary">Xem danh sách</a>
                          </ol>
                        </div>
                    </form>
    
</div>
        </div>
    </div>
    </div>
</section>