<section class="section-wrap" style="margin-top: 60px;">
	<div class="thongtin-wrap">
	<div class="container infomation-content" >
		<div class="infomation-content-us" style="width: 1000px;">
			<h3 style="text-align: center;color:  #0098D3; font-weight: bold;">Danh Sách Thí Sinh</h3>
			<table class="table table-striped">
				<tr>
					<th>STT</th>
					<th>Số Báo Danh</th>
					<th>Họ Tên</th>
					<th>Ngày Sinh</th>
					<th>Địa Chỉ</th>
					<th>Trường dự thi</th>
					<th>Khối Thi</th>
					<th></th>
				</tr>
				<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
					<tr>
					<td>1</td>
					<td>DH0201</td>
					<td>Nguyễn Phan Quốc Thắng</td>
					<td>02-01-1996</td>
					<td>Đức Hòa-Long An</td>
					<td>Đại Học Công Nghiệp</td>
					<td>A</td>
					<td><a href="/xem-chi-tiet-diem-thi">Xem chi tiết</a></td>
				</tr>
				
			</table>
		</div>
	</div>
	</div>
</section>