
<section class="section-wrap" style="margin-top: 60px;">
    <div class="thongtin-wrap">
    <div class="container infomation-content" >
        <div class="infomation-content-us" style="width: 100%;">
            <h3 style="text-align: center;color:  #0098D3; font-weight: bold;">Tra Cứu Điểm Thi</h3>
                <div class="content-main" style="min-height: 40px;">
                    <form id="SearchTSForm" method="post">
                        <div class="form-reg">
                            
                            <ul class="q-list" style="padding-bottom: 60px;">
                                <li><h3 style="text-transform:uppercase;font-weight:bold;text-align:center;">HỘI ĐỒNG THI ĐẠI HỌC CÔNG NGHIỆP THÀNH PHỐ HỒ CHÍ MINH</h3></li>
                                <li><h2 style="text-align:center;">TRA CỨU ĐIỂM THI THPT QUỐC GIA 2016</h2></li>
                                    <li>Thí sinh nhập tài khoản từ địa chỉ <a style="color:blue" href="http://thisinh.thithptquocgia.edu.vn">http://thisinh.thithptquocgia.edu.vn</a> hoặc nhập số báo danh và mã xác nhận vào các ô dưới đây</li>
                                    <li class="li-reg"><label>Số báo danh</label><input type="text" name="SOBAODANH" value="" class="e-input"></li>
                                    <li class="li-reg">
                                        <label>Mã xác nhận</label>
                                        <input type="text" style="width: 107px;margin-left: -4px;" name="ConfirmCode" autocomplete="off" class="e-input">
                                        <img id="ImgCaptcha" style="border: solid 1px #808080; height: 30px;margin-top: -3px;vertical-align: middle;" src="../Images/GetCaptcha.png">
                                        <img id="refreshCaptcha" src="../Images/refresh.png" style="vertical-align: middle;cursor: pointer; width: 24px; height: 24px; margin-bottom: 8px; margin-left: 8px;">
                                    </li >
                                    <li class="li-reg"><label>&nbsp;</label><input id="btnsubmit" type="button"  class="btn btn-primary" value="Tra cứu"></li>

                            </ul>
                            <ol start="1" style="padding-left:10px;">
                                Xem thêm danh sách thí sinh tại đây:
                                <a href="/xem-danh-sach-thi-sinh" class="btn btn-primary">Xem danh sách</a>
                          </ol>
                        </div>
                    </form>
    
</div>
        </div>
    </div>
    </div>
</section>